<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Users</h1>
                </div>
                <div class="col-sm-6">

                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-2">
                                    <h3 class="card-title">Users registered</h3>
                                </div>
                                <div class="col-8">

                                </div>
                                <div class="col-2">
                                    <!--boton del modal para agregar registros-->
                                    <button type="button" class="btn btn-outline-primary" data-toggle="modal"
                                        data-target="#modal-secondary">
                                        <span class="fa fa-plus"></span>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <table id="index" class="table table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th>N°</th>
                                        <th>Name</th>
                                        <th>User name</th>
                                        <th>Type</th>
                                        <th>Email</th>
                                        <th>State</th>

                                    </tr>
                                </thead>
                                <tbody>

                                    <tr *ngFor="let user of users_; index as i">
                                        <td>{{ i+1 }}</td>
                                        <td>{{ user.name + ' ' + user.lastname }}</td>
                                        <td>{{ user.nameac }}</td>
                                        <td>{{ user.type }}</td>
                                        <td>{{ user.email }}</td>
                                        <td><button class="badge bg-success">{{ user.state}}</button></td>

                                    </tr>


                                </tbody>

                            </table>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->

                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>
<!--###################MODAL##################-->
<div class="modal fade" id="modal-secondary">
    <div class="modal-dialog">
        <div class="modal-content bg-secondary">
            <div class="modal-header">
                <h4 class="modal-title">Secondary Modal</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!--###################formulario##################-->
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" class="form-control form-control-border border-width-2" id="name" name="name" placeholder="Enter your name" required>
                </div>
                <div class="form-group">
                    <label for="lastName">Last name</label>
                    <input type="text" class="form-control form-control-border border-width-2" id="lastName" name="lastName" placeholder="Enter your last name" required>
                </div>
                <div class="form-group">
                    <label for="userName">User name</label>
                    <input type="text" class="form-control form-control-border border-width-2" id="userName" name="userName" placeholder="Enter an user name" required>
                </div>
                <div class="form-group">
                    <label for="type">Type</label>
                    <select  class="custom-select form-control-border border-width-2" id="type" name="type">
                        <option *ngFor="let typeUser of typeUsers_" value="{{ typeUser.id }}">{{ typeUser.name }}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="state">State</label>
                    <select class="custom-select form-control-border border-width-2" id="state">
                        <option value="1">activo</option>
                        <option value="2">inactivo</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="email">E-mail</label>
                    <input type="email" class="form-control form-control-border border-width-2" id="email" name="email" placeholder="Example@gmail.com" required>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control form-control-border border-width-2" id="password" name="password" placeholder="Enter a password" required>
                </div>
                <div class="modal-footer justify-content-between">
                    <button type="button" class="btn btn-outline-light" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-outline-light">Save changes</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->