<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Users</h1>
                </div>
                <div class="col-sm-6">

                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-2">
                                    <h3 class="card-title">Users registered</h3>
                                </div>
                                <div class="col-8">

                                </div>
                                <div class="col-2">
                                    <!--boton del modal para agregar registros-->
                                    <button type="button" class="btn btn-outline-primary" data-toggle="modal"
                                        data-target="#modal-secondary">
                                        <span class="fa fa-plus"></span>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <table id="index" class="table table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th>N°</th>
                                        <th>Name</th>
                                        <th>User name</th>
                                        <th>Type</th>
                                        <th>Email</th>
                                        <th>State</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let user of users_; index as i">
                                        <td>{{ i+1 }}</td>
                                        <td>{{ user.name + ' ' + user.lastname }}</td>
                                        <td>{{ user.nameac }}</td>
                                        <td>{{ user.type }}</td>
                                        <td>{{ user.email }}</td>
                                        <td><button type="button" class="btn btn-secundary btn-sm">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"
                                                    fill="currentColor" class="bi bi-toggles2" viewBox="0 0 16 16">
                                                    <path
                                                        d="M9.465 10H12a2 2 0 1 1 0 4H9.465c.34-.588.535-1.271.535-2 0-.729-.195-1.412-.535-2z" />
                                                    <path
                                                        d="M6 15a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 1a4 4 0 1 1 0-8 4 4 0 0 1 0 8zm.535-10a3.975 3.975 0 0 1-.409-1H4a1 1 0 0 1 0-2h2.126c.091-.355.23-.69.41-1H4a2 2 0 1 0 0 4h2.535z" />
                                                    <path d="M14 4a4 4 0 1 1-8 0 4 4 0 0 1 8 0z" />
                                                </svg>
                                                &nbsp;
                                                <!--etiqueta de espacio -->
                                                <span class="badge bg-info">{{ user.state}}</span>
                                            </button></td>
                                        <td>
                                            <button type="button" class="btn btn-warning btn-sm" 
                                                data-toggle="modal"
                                                [data-target]="'#modal' + user.id.toString()">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                    fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                                                    <path
                                                        d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                                                    <path fill-rule="evenodd"
                                                        d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
                                                </svg>
                                            </button>
                                            &nbsp;
                                            <!--etiqueta de espacio -->
                                            <button type="button" class="btn btn-danger btn-sm">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                    fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                                    <path
                                                        d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
                                                    <path fill-rule="evenodd"
                                                        d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
                                                </svg>
                                            </button>
                                        </td>
                                        <!--form-->
                                        <!--###################MODAL##################-->
                                        <div class="modal fade" id="modal{{ user.id }}">
                                            <div class="modal-dialog">
                                                <div class="modal-content bg-secondary">
                                                    <div class="modal-header">
                                                        <h4 class="modal-title">Secondary Modal</h4>
                                                        <button type="button" class="close" data-dismiss="modal"
                                                            aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <!--###################formulario##################-->
                                                        <form [formGroup]="formUpdate" (ngSubmit)="updateUser()">
                                                            <div class="form-group">
                                                                <label for="id">id</label>
                                                                <input type="text"
                                                                    class="form-control form-control-border border-width-2"
                                                                    id="id" name="id" formControlName="id"
                                                                    value="{{ user.id }}">
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="name">Name</label>
                                                                <input type="text"
                                                                    class="form-control form-control-border border-width-2"
                                                                    id="name" name="name" placeholder="Enter your name"
                                                                    formControlName="name" 
                                                                    value="{{ user.name }}">
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="lastName">Last name</label>
                                                                <input type="text"
                                                                    class="form-control form-control-border border-width-2"
                                                                    id="lastName" name="lastName"
                                                                    placeholder="Enter your last name"
                                                                    formControlName="lastname"
                                                                    value="{{ user.lastname }}">
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="userName">User name</label>
                                                                <input type="text"
                                                                    class="form-control form-control-border border-width-2"
                                                                    id="userName" name="userName"
                                                                    placeholder="Enter an user name"
                                                                    formControlName="nameac" 
                                                                    value="{{ user.nameac }}">
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="type">Type</label>
                                                                <select
                                                                    class="custom-select form-control-border border-width-2"
                                                                    id="type" name="type" formControlName="idtype">
                                                                    <option value="" disabled>Select a option</option>
                                                                    <option *ngFor="let typeUser of typeUsers_"
                                                                        value="{{ typeUser.id }}">
                                                                        {{ typeUser.name }}
                                                                    </option>
                                                                </select>
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="email">E-mail</label>
                                                                <input type="email"
                                                                    class="form-control form-control-border border-width-2"
                                                                    id="email" name="email"
                                                                    placeholder="Example@gmail.com"
                                                                    formControlName="email" 
                                                                    value="{{ user.email }}">
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="password">Password</label>
                                                                <input type="password"
                                                                    class="form-control form-control-border border-width-2"
                                                                    id="password" name="password"
                                                                    placeholder="Enter a password"
                                                                    formControlName="password"
                                                                    value="{{ user.password }}">
                                                            </div>
                                                            <div class="modal-footer justify-content-between">
                                                                <button type="button" class="btn btn-outline-light"
                                                                    data-dismiss="modal">Close</button>
                                                                <button type="submit" class="btn btn-outline-success"
                                                                    *ngIf="formUpdate.valid">
                                                                    Save user
                                                                </button>
                                                            </div>
                                                        </form>
                                                    </div>
                                                    <!-- /.modal-content -->
                                                </div>
                                                <!-- /.modal-dialog -->
                                            </div>
                                            <!-- /.modal -->
                                        </div>
                                        <!--end form-->
                                    </tr>
                                </tbody>

                            </table>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->

                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>
<!--###################MODAL##################-->
<div class="modal fade" id="modal-secondary">
    <div class="modal-dialog">
        <div class="modal-content bg-secondary">
            <div class="modal-header">
                <h4 class="modal-title">Secondary Modal</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!--###################formulario##################-->
                <form [formGroup]="form" (ngSubmit)="createOneUser()">
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text" class="form-control form-control-border border-width-2" id="name" name="name"
                            placeholder="Enter your name" formControlName="name">
                    </div>
                    <div class="form-group">
                        <label for="lastName">Last name</label>
                        <input type="text" class="form-control form-control-border border-width-2" id="lastName"
                            name="lastName" placeholder="Enter your last name" formControlName="lastname">
                    </div>
                    <div class="form-group">
                        <label for="userName">User name</label>
                        <input type="text" class="form-control form-control-border border-width-2" id="userName"
                            name="userName" placeholder="Enter an user name" formControlName="nameac">
                    </div>
                    <div class="form-group">
                        <label for="type">Type</label>
                        <select class="custom-select form-control-border border-width-2" id="type" name="type"
                            formControlName="idtype">
                            <option value="" disabled>Select a option</option>
                            <option *ngFor="let typeUser of typeUsers_" value="{{ typeUser.id }}">
                                {{ typeUser.name }}
                            </option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="state">State</label>
                        <select class="custom-select form-control-border border-width-2" id="state"
                            formControlName="idstate">
                            <option value="" disabled>Select a option</option>
                            <option *ngFor="let state of states_" value="{{ state.id }}">
                                {{ state.name }}
                            </option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="email">E-mail</label>
                        <input type="email" class="form-control form-control-border border-width-2" id="email"
                            name="email" placeholder="Example@gmail.com" formControlName="email">
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" class="form-control form-control-border border-width-2" id="password"
                            name="password" placeholder="Enter a password" formControlName="password">
                    </div>
                    <div class="modal-footer justify-content-between">
                        <button type="button" class="btn btn-outline-light" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-outline-success" *ngIf="form.valid">
                            Save user
                        </button>
                    </div>
                </form>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->
</div>