<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Jobs</h1>
                </div>
                <div class="col-sm-6">
                    
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Works done</h3>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <table id="index" class="table table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th>N°</th>
                                        <th>Date</th>
                                        <th>Job</th>
                                        <th>Detail</th>
                                        <th>User</th>
                                        <th>Type</th>
                                        <th>State</th>
                                        <th>Price</th>
                                    </tr>
                                </thead>
                                <tbody >
                                    <tr *ngFor="let job of jobs; index as i">
                                        <td>{{ i+1 }}</td>
                                        <td>{{ job.date}}</td>
                                        <td>{{ job.title}}</td>
                                        <td>{{ job.detail}}</td>
                                        <td>{{ job.nameac}}</td> 
                                        <td>{{ job.type}}</td>
                                        <td><button class="badge bg-success">{{ job.state}}</button></td>   
                                        <td>{{ job.price}}<p class="hidden">{{ total + job.price }}</p></td>
                                        
                                    </tr>                                    
                                </tbody>
                                <tfoot class="Total">
                                    <tr>
                                       
                                        <th colspan="7" style="text-align: right;"><h3>Total</h3></th>
                                        <th> {{ total }} </th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->

                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>
