<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper kanban">
  <section class="content-header">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-6">
          <h1>Home</h1>
        </div>
      </div>
    </div>
  </section>

  <section class="content pb-3">
    <div class="container-fluid h-100 w-50">
      <div class="card  card-secondary">
        <div class="card-header">
          <h1 class="card-title">
            WELCOME
          </h1>
        </div>
        <div class="card-body">

          <p class="p-1">
            <strong>
              {{ userlogin.name + " " + userlogin.lastname|uppercase }}
            </strong>
          </p>
          <span class="p-1">
            {{ userlogin.type |uppercase }}
          </span>



          <img class="w-100" src="../../../assets/dist/img/LA MARIPOSA.jpg" alt="">
        </div>
      </div>
    </div>
  </section>
</div>